#root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body, html {
    max-width: 100vw;
     font-family: 'Orbitron';
    /* overflow-x: hidden; */
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}
@media (max-width: 600px) {
  body, html {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .home-container,
  .gym-footer,
  .gym-footer-main,
  .Gym-Info,
  .card-container,
  .call-to-action,
  .aboutus-container,
  .aboutus-content {
    max-width: 100vw;
    overflow-x: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
}